* {
    margin: 0px;
    padding: 0px;
}
/*添加动画效果*/
@keyframes eye {
    50%{
        transform: translate(75px , 0);
    }
    to{
        transform: translate(0 , 0);
    }
}
body{
    background-color: brown;
}
/*主体小黄人*/
.minion-1 {
    margin: 200px auto;
    width: 380px;
    height: 700px;
    position: relative;
    transform: scale(.5);
}
/*身体部分*/
.minion-1 .body {
    width: 380px;
    height: 700px;
    background-color: #fff500;
    position: absolute;
    border-radius: 180px;
    overflow: hidden;
}
/*头发*/
.hair {
    width: 2px;
    height: 70px;
    background-color: black;
    position: absolute;
    z-index: 2;
    top: -30px;
}
.hairs .hairs1{
    left: 45%;
    transform: rotate(-20deg);
}
.hairs .hairs2{
    left: 50%;
}
.hairs .hairs3{
    left: 55%;
    transform: rotate(20deg);
}
/*衣服*/
.cloth {
    position: absolute;
    bottom: 20px;
    left: 10%;
    background-color: #667ab3;
    width: 80%;
    height: 250px;
    border-radius: 20px;
}
/*姑且叫做腰带吧*/
.minion-1 .straps {
    width: 40px;
    height: 150px;
    position: absolute;
    bottom: 230px;
    background-color: #667ab3;
}
.minion-1 .left-straps {
    left: 10px;
    transform: rotate(-40deg);
    z-index: 1;
}
.minion-1 .right-straps {
    right: 10px;
    transform: rotate(40deg);
    z-index: 1;
}
.minion-1 .straps .fastener {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
/*眼镜框*/
.minion-1 .glasses-type {
    width: 100%;
    height: 50px;
    background-color: #1f1a17;
    position: absolute;
    top: 200px;
}
/*眼镜*/
.minion-1 .glasses {
    position: absolute;
    top: 140px;
    width: 150px;
    height: 150px;
    background-color: #dededd;
    border: 2px solid #1f1a17;
    border-radius: 50%;
}
.minion-1 .left-glass{
    left: 8%;
    z-index: 1;
}
.minion-1 .right-glass{
    right: 8%;
    z-index: 1;
}
/*眼睛*/
.minion-1 .glasses .eye {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border: 2px solid #1f1a17;
    border-radius: 50%;
    margin: 15px auto;
    z-index: 1;
}
.minion-1 .glasses .eye .ball {
    width: 40px;
    height: 40px;
    background-color: #8f5444;
    border: 2px solid #1f1a17;
    border-radius: 50%;
    position: absolute;
    top:45%;
    z-index: 2;
    animation: eye 2s linear infinite;
}
.minion-1 .glasses .eye .ball>div {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}
/*嘴巴*/
.minion-1 .mouth {
    width: 40%;
    height: 80px;
    background-color: white;
    position: absolute;
    bottom: 42%;
    left: 30%;
    border-radius: 120px 120px 40px 40px ;
    overflow: hidden;
}
/*牙齿*/
.minion-1 .mouth .tooths .line {
    border: 2px solid #1f1a17;
    width: 100%;
    position: absolute;
    top:50%;
}
.minion-1 .mouth .tooths .tooth1 {
    height: 100%;
    width: 0;
    border:2px solid #1f1a17;
    position: absolute;
    left: 25%;
}
.minion-1 .mouth .tooths .tooth2{
     height: 100%;
     width: 0;
     border:2px solid #1f1a17;
     position: absolute;
     left: 50%;
 }
.minion-1 .mouth .tooths .tooth3{
    height: 100%;
    width: 0;
    border:2px solid #1f1a17;
    position: absolute;
    left: 75%;
}
/*胳膊*/
.minion-1 .arm{
    width: 50px;
    height: 400px;
    background-color: #fff500;
    position: absolute;
    top: 190px;
    border-radius: 50px;
    z-index: -1;
}
.minion-1 .left-arm{
    left: -20px;
    transform: rotate(20deg);
}
.minion-1 .right-arm{
    right: -20px;
    transform: rotate(-20deg);
}
.minion-1 .arm .hand{
    width: 60px;
    height: 60px;
    background-color: #1f1a17;
    position: absolute;
    bottom:0;
    left: -5px;
    border-radius: 50%;
}
/*口袋*/
.minion-1 .pocket{
    width: 100px;
    height: 100px;
    border: 2px solid #1f1a17;
    border-radius: 5px 5px 30px 30px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -50px;
    z-index: 1;
}
.minion-1 .pocket>div {
    width: 50px;
    height: 50px;
    background-color: #1f1a17;
    position: absolute;
    left: 25px;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}
.minion-1 .pocket>div>div {
    width: 20px;
    height: 20px;
    border: 5px solid #667ab3;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
/*裤子*/
.trousers {
    width: 100%;
    height: 160px;
    background-color: #667ab3;
    position: absolute;
    bottom: 0;
    border-radius: 10px 10px 130px 130px;
}
.minion-1 .legs{
    width: 70px;
    height: 120px;
    background-color: #667ab3;
    position: absolute;
    bottom: -80px;
}
.minion-1 .left-leg{
    left: 20%;
}
.minion-1 .right-leg{
    right: 20%;
}
/*脚*/
.minion-1 .left-leg .footer{
    width: 100px;
    height: 50px;
    background-color: #1f1a17;
    position: absolute;
    bottom: 0;
    left: -30px;
    border-radius: 100px 0 0 200px ;
}
.minion-1 .right-leg .footer{
    width: 100px;
    height: 50px;
    background-color: #1f1a17;
    position: absolute;
    bottom: 0;
    border-radius: 0 100px 200px 0;
}